---
interface Props {
  href: string;
  class?: string;
  [x: string]: unknown;
}

const { href, class: className, ...rest } = Astro.props;

const baseUrl = import.meta.env.BASE_URL ?? '';
const baseUrlFormat = baseUrl === '/' ? '' : baseUrl;
const resolvedHref = baseUrlFormat + href;
---

<a href={resolvedHref} class:list={[className]} {...rest}><slot /></a>
